
<form>
cn
<input type="text" name="cn"> <br>
sn
<input type="text" name="sn"> <br>
GivenName
<input type="text" name="givenName"> <br>
description
<input type="text" name="description"> <br>
uid
<input type="text" name="uid"> <br>
password
<input type="password" name="password"> <br>
<input type="submit" name="submit-form">
</form>


